body {
    margin: 0;
    background: lightblue;
    color: rgb(244, 255, 255);
}

.divC {
    text-align: center;
    font-size: 50px;
}

.monthAndHour {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 40px;
}
.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    width: 20%;
    font-size: 30px;
    border: 2px solid #05386B;

}

.table {
    width: 100%;
    border: 2px black;
}